<div class="container__habilidades">
  <div class="container__habilidades-descricao">
    <app-titulo-compartilhado tituloCompartilhado="Minhas Habilidades"></app-titulo-compartilhado>
    <app-descricao-compartilhado descricaoCompartilhada="Essas são algumas habilidades que
      desenvolvi ao longo da minha jornada"></app-descricao-compartilhado>
  </div>

  <div class="container__habilidades-barra">

    <div class="container__barra">
      <div class="container__barra-descricao">
        <p>Kotlin</p>
        <p id="elemento__barra-descricao">60%</p>
      </div>
      <div class="container__barra-real barra60"></div>
    </div>

    <div class="container__barra">
      <div class="container__barra-descricao">
        <p>C++</p>
        <p id="elemento__barra-descricao">60%</p>
      </div>
      <div class="container__barra-real barra60"></div>
    </div>

    <div class="container__barra">
      <div class="container__barra-descricao">
        <p>HTML</p>
        <p id="elemento__barra-descricao">80%</p>
      </div>
      <div class="container__barra-real barra80"></div>
    </div>

    <div class="container__barra">
      <div class="container__barra-descricao">
        <p>CSS</p>
        <p id="elemento__barra-descricao">80%</p>
      </div>
      <div class="container__barra-real barra80"></div>
    </div>

    <div class="container__barra">
      <div class="container__barra-descricao">
        <p>JS</p>
        <p id="elemento__barra-descricao">70%</p>
      </div>
      <div class="container__barra-real barra70"></div>
    </div>

    <div class="container__barra">
      <div class="container__barra-descricao">
        <p>TS</p>
        <p id="elemento__barra-descricao">60%</p>
      </div>
      <div class="container__barra-real barra60"></div>
    </div>

    <div class="container__barra">
      <div class="container__barra-descricao">
        <p>Angular</p>
        <p id="elemento__barra-descricao">70%</p>
      </div>
      <div class="container__barra-real barra70"></div>
    </div>

    <div class="container__barra">
      <div class="container__barra-descricao">
        <p>GIT</p>
        <p id="elemento__barra-descricao">80%</p>
      </div>
      <div class="container__barra-real barra80"></div>
    </div>

    <div class="container__barra">
      <div class="container__barra-descricao">
        <p>GitHub</p>
        <p id="elemento__barra-descricao">80%</p>
      </div>
      <div class="container__barra-real barra80"></div>
    </div>





  </div>
</div>
