<div class="container__habilidades">
  <div class="container__habilidades-descricao">
    <app-titulo-compartilhado tituloCompartilhado="Minhas Habilidades"></app-titulo-compartilhado>
    <app-descricao-compartilhado descricaoCompartilhada="Essas são algumas habilidades que
      desenvolvi ao longo da minha jornada"></app-descricao-compartilhado>
  </div>

  <div class="container__habilidades-img">
    <div class="container__habilidades-img-Logo">
      <img class="tamanho" src="../../../assets/imgs/imagens-logo/imagemKotlin.png" alt="Logo-Kotlin">
    </div>

    <div class="container__habilidades-img-Logo">
      <img class="tamanho" src="../../../assets/imgs/imagens-logo/imagemC++.png" alt="Logo-C++">
    </div>

    <div class="container__habilidades-img-Logo">
      <img class="tamanho" src="../../../assets/imgs/imagens-logo/imagemHTML5.png" alt="Logo-HTML5">
    </div>

    <div class="container__habilidades-img-Logo">
      <img src="../../../assets/imgs/imagens-logo/imagemCSS3.png" alt="Logo-CSS3">
    </div>

    <div class="container__habilidades-img-Logo">
      <img src="../../../assets/imgs/imagens-logo/imagemJavaScript.png" alt="Logo-JavaScript">
    </div>

    <div class="container__habilidades-img-Logo">
      <img src="../../../assets/imgs/imagens-logo/imagemTypeScript.png" alt="Logo-TypeScript">
    </div>

    <div class="container__habilidades-img-Logo">
      <img src="../../../assets/imgs/imagens-logo/imagemAngular.png" alt="Logo-Angular">
    </div>

    <div class="container__habilidades-img-Logo">
      <img src="../../../assets/imgs/imagens-logo/imagemGit.png" alt="Logo-Git">
    </div>

    <div class="container__habilidades-img-Logo">
      <img src="../../../assets/imgs/imagens-logo/imagemGitHub.png" alt="Logo-GitHub">
    </div>

  </div>

</div>
