.container__habilidades{
  width: 100%;
  padding-top: 80px;
  background-color: #000;
  display: flex;
  flex-direction: column;
}

.container__habilidades-descricao{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container__habilidades-descricao > app-titulo-compartilhado{
  margin-bottom: 30px;
  margin-top: 20px;
}

.container__habilidades-img{
  display: flex;
  flex-wrap: wrap;
  height: 64.8vh;
  align-items: center;
  justify-content: center;
}

.container__habilidades-img-Logo{
  width: 30%;
  display: flex;
  justify-content: center;
}

img{
  height: 100px;
  width: 100px;
}
