<div class="container__total">
  <div class="container__avatar">
    <img src="../../../assets/imgs/avatar-perfil.png" alt="imagem-avatar">
  </div>
  <div class="container__sobre">
    <h1>Sobre Mim</h1>
    <p>Sou  estudante  de Engenharia da Computação. Minha jornada no mundo da programação começou
       em 2015 e desenvolvi habilidades de front-end e back-end ao longo dos anos. Através de vários
       projetos pessoais e profissionais abrangendo ambas as disciplinas, ganhei experiência prática
       na construção de interfaces intuitivas e na implementação de serviços poderosos. Estou
       constantemente trabalhando para aprimorar meus conhecimentos, explorar novas tecnologias e
       explorar tecnologias conhecidas.
    </p>
    <div class="container__sobre-informacoes">
      <div class="container__sobre-informacoes-pessoal">
        <p>Nome:</p>
        <p>Bruno Alves Amorim</p>
      </div>
      <div class="container__sobre-informacoes-pessoal">
        <p>email:</p>
        <p>brunoalves20102010@hotmail.com</p>
      </div>
      <div class="container__sobre-informacoes-pessoal">
        <p>Endereço:</p>
        <p>Goiânia, GO- Brasil</p>
      </div>
      <div class="container__sobre-informacoes-pessoal">
        <p>CEP:</p>
        <p>74684-180</p>
      </div>
      <div class="container__sobre-informacoes-pessoal">
        <p>Data de Nascimento:</p>
        <p>14/10/1997</p>
      </div>
      <div class="container__sobre-informacoes-pessoal">
        <p>Telefone:</p>
        <p>+55 (62)933001150 </p>
      </div>
    </div>
  </div>
</div>
