<div class="container__portfolio">

  <div class="container__portfolio-titulo">
    <app-titulo-compartilhado tituloCompartilhado="Portfolio de Projetos"></app-titulo-compartilhado>
  </div>

  <div class="container__portfolio-cards">
    <app-card-portfolio
      imgPortfolio1="../../../assets/imgs/fotos-portfolio/site-antigo-espaco-02.png"
      imgPortfolio2="../../../assets/imgs/fotos-portfolio/site-antigo-espaco-05.png"
      imgPortfolio3="../../../assets/imgs/fotos-portfolio/site-antigo-espaco-03.png"
      tituloPortfolio="Site Para o Espaço Karynna Amorim"
      descricaoPortfolio="Site para uma clínica de estética com 4 paginas (Home, O
        Espaço, Serviços e Contato), feito em HTLM5, CSS3 e JavaScript. O site está
        hospedado no Firebase e pode ser encontrado através de pesquisas no google
        ou pelo seu domínio'espacokarynnaamorim.web.app'."
    ></app-card-portfolio>

    <app-card-portfolio
      imgPortfolio1="../../../assets/imgs/fotos-portfolio/novo-site-espaco-01.png"
      imgPortfolio2="../../../assets/imgs/fotos-portfolio/novo-site-espaco-01.png"
      imgPortfolio3="../../../assets/imgs/fotos-portfolio/novo-site-espaco-01.png"
      tituloPortfolio="Novo Site Para o Espaço Karynna Amorim"
      descricaoPortfolio="Neste projeto, ainda em fase de construção, estamos desenvolvendo
        um novo site para o Espaço Karynna Amorim que contará com uma nova identidade visual e
        novas funcionalidades."
    ></app-card-portfolio>

    <app-card-portfolio
      imgPortfolio1="../../../assets/imgs/fotos-portfolio/modelo-app-figma-01.png"
      imgPortfolio2="../../../assets/imgs/fotos-portfolio/modelo-app-figma-02.png"
      imgPortfolio3="../../../assets/imgs/fotos-portfolio/modelo-app-figma-03.png"
      tituloPortfolio="Interface Grafica de um App Feito no Figma"
      descricaoPortfolio="Nesse projeto foi desenhada toda a interface gráfica de um app
        mobile, para gerenciamento de versões de projetos, no Figma."
    ></app-card-portfolio>

    <app-card-portfolio
      imgPortfolio1="../../../assets/imgs/fotos-portfolio/modelo-app-androidStudio-01.png"
      imgPortfolio2="../../../assets/imgs/fotos-portfolio/modelo-app-androidStudio-02.png"
      imgPortfolio3="../../../assets/imgs/fotos-portfolio/modelo-app-androidStudio-03.png"
      tituloPortfolio="App Para Versionamento de Projetos (em andamento)"
      descricaoPortfolio="Esse Aplicativo, em fase de desenvolvimento, tem como finalidade
        armazenar informações tais como, versão, autor, níveis, etc., de projetos que estão
        sendo desenvolvidos. Esta sendo usada a linguagem Kotlin, sua interface gráfica foi
        projetada e desenhado no Figma e seus dados serão armazenados no banco de dados
        RealtimeDatabase
        do Firebase."
    ></app-card-portfolio>

    <app-card-portfolio
      imgPortfolio1="../../../assets/imgs/fotos-portfolio/godot-01.png"
      imgPortfolio2="../../../assets/imgs/fotos-portfolio/godot-02.png"
      imgPortfolio3="../../../assets/imgs/fotos-portfolio/godot-03.png"
      tituloPortfolio="Jogo Feito em Godot 3.2.1 (em andamento)"
      descricaoPortfolio="O projeto 'Jogo Laboratório', ainda em fase de desenvolvimento,
        consiste na criação de um jogo em 3ª pessoa para dispositivos moveis onde conta a
        história de um robô que esta tentando fugir de um laboratório de testes, situado em um
        edifício."
    ></app-card-portfolio>

    <app-card-portfolio
      imgPortfolio1="../../../assets/imgs/fotos-portfolio/filtro-insta-01.png"
      imgPortfolio2="../../../assets/imgs/fotos-portfolio/filtro-insta-02.png"
      imgPortfolio3="../../../assets/imgs/fotos-portfolio/filtro-insta-03.png"
      tituloPortfolio="Filtro para Instagram"
      descricaoPortfolio="Filtro para Instagram, feito no Spark Ar Studio,
        para um evento chamado 'Duelo de Milhões'."
    ></app-card-portfolio>


  </div>
</div>

