<div class="container__article">
  <div class="articles__main">
    <app-card-home imagemHome="../../../assets/imgs/fotoPerfil.png"></app-card-home>
  </div>
  <div class="articles__others">
    <app-titulo-home
      descricaoHome="Olá sou o"
      tituloHome="Bruno Amorim"
      linkedinHome="https://www.linkedin.com/in/bruno-a-amorim-1a362a28a/"
      instagramHome="https://www.instagram.com/a.amorimbruno/"
      gitHubHome="https://github.com/brunoamorim145"
    ></app-titulo-home>
  </div>
</div>


